<h1><center> Sasi Reddyvari(Python)</center></h1>

[Artificial Intelligence(Augmented AI-Today)](https://dev.azure.com/sasi-reddyvari/AI):
A branch of Computer Science and simulation of human intelligence in machines that are programmed to think like humans and mimic their actions.
A Machine which learns by itself by finding the relationships without human intervention as we do is Pure AI.
Ex: Sophia, AI News Anchor

Augmented Automated Intelligence is achieved by the intersection or combination of
- Data Science- Pre-processing, Analysis, Visualization and Prediction.
- Statistics
- BigData
- Natural Language Processing
- Machine Learning
- DeepLearning
- Computer Vision
- DevOps

Examples:
Alexa,
Sophia,
Alpha Go,
Google Predictive Search Engine ,
JP Morgan uses AI, ML, image recognition software to analyze legal docs,
IBM Watson in health care used to diagnose ,DNA analysis, Question Answering Computing system,
Google's AI Eye Doctor ,
Social Media heavily rely on AI like offensive speech, terrorist link accounts, auto tagging,
Virtual Assistants - Google DUPLEX not only repsond calls and book appointments adds human touch also apart from SIRI ,alexa etc,
SELF driving cars -TESLA,
Netflix studies personalized movie recommendations for each of its users,
Gmail Span filtering,
To spot stars,
ALL tech giants companies like Google , Tesla,FB,twiiter, infact Netflix also heavily rely on AI.

# Introduction

HandsOn: [Python(JupyterNotebook)](https://github.com/sasireddyvari)

Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed.

# Python is a interpreted as well as compiled language based on scenario

In [1]:
# Primitive- Homogenous Data
# Non Primitive - Heterogenous data types
i= 2 # Integer

In [2]:
print(i)
type(i)

2

int

In [3]:
id(i)

140724160729952

In [4]:
i+=1
i-=2
print(i)

1

In [5]:
i=2.0 # Float

In [6]:
print(i)
type(i)

2.0

float

In [7]:
i+=1
i-=2
print(i)

1.0

In [8]:
i="sasi" # string

In [9]:
print(i)
type(i)

sasi

str

In [10]:
i+"kumar"

'sasikumar'

In [11]:
i+'kumar'

'sasikumar'

In [12]:
i+ "kumar's Python" # to escape ' in the data set

"sasikumar's Python"

# Converting string to integer

In [13]:
int('23')

23

# Converting integer to string

In [14]:
str(123)

'123'

# + operator

In [15]:
1+2

3

In [16]:
'1' + 'sasi'

'1sasi'

In [17]:
str(1) + 'sasi'

'1sasi'

# * operator

In [18]:
print(2 * 3)
'sasi' * 5

6

'sasisasisasisasisasi'

In [19]:
2 ** 3

8

# / Operator

In [20]:
2/3

0.6666666666666666

# // Operator

In [21]:
2//3

0

# % Operator

In [22]:
2 % 3

2

# Boolean

In [23]:
True + True

2

In [24]:
True + False

1

# If / elif / else

In [25]:
i=9
if (i==10):
    print(9)
    print('This is mine')
elif i==9:
    print("elif")
else:
    print("else")

elif

In [26]:
j='complex'
if j=='complex':
    print(j)

complex

# List--Mutable(Value can be changed)
### Set--Mutable
### Dictionary--Mutable
### String--Immutable
### Tuple--Immutable

In [27]:
k=[1,'sasi','kumar','true','false']
k
#type(k)

[1, 'sasi', 'kumar', 'true', 'false']

In [28]:
m=list()
type(m)

list

In [29]:
k[4:1:1]

[]

In [30]:
k[4:1:-1]

['false', 'true', 'kumar']

In [31]:
k[::-1]

['false', 'true', 'kumar', 'sasi', 1]

In [32]:
s='sasi'
s[::-1]

'isas'

In [33]:
b=[]
for i in k:
    if type(i)==str:
        b.append(i)
print(b)

['sasi', 'kumar', 'true', 'false']

In [34]:
len(b)

4

In [35]:
a=[0,1,2,3,4]
squares=[i*i for i in a]
squares

[0, 1, 4, 9, 16]

In [38]:
a= ["sasi","kumar",2,4]
b=[]
for i in range(len(a)-1,-1,-1):
    b.append(a[i])
b

[4, 2, 'kumar', 'sasi']

# dir()

In [91]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Continue

In [39]:
for i in 'sasikumar':
    if i=='s':
        continue
    print(i)
print('sasikumar')

a
i
k
u
m
a
r
sasikumar

# Break

In [40]:
for i in 'sasikumar':
    if i=='k':
        break
    print(i)
print('sasikumar')

s
a
s
i
sasikumar

# Range Function-- range(start,stop,step size)

In [41]:
range(5)

range(0, 5)

In [42]:
list(range(5))

[0, 1, 2, 3, 4]

In [43]:
print(list(range(3,8,1)))

[3, 4, 5, 6, 7]

In [44]:
print(list(range(3,8,2)))

[3, 5, 7]

In [45]:
print(list(range(3,8,-1)))

[]

In [46]:
print(list(range(-1,0,1)))

[-1]

In [47]:
list(range(10,0,1))

[]

In [48]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Another way of creation of list

In [52]:
l=list("sasi") # Difference

In [53]:
l

['s', 'a', 's', 'i']

In [54]:
l=list(["sasi","Kumar"])

In [55]:
l

['sasi', 'Kumar']

In [56]:
l[::-1]

['Kumar', 'sasi']

In [57]:
l[1:0:-1]

['Kumar']

In [58]:
s="sasi"
s[-1]

'i'

In [59]:
s[3:-1:-1]

''

In [83]:
l=[1,2,3,4]

[1, 2, 3, 4]

In [90]:
l + ["sasi"] # + will ravel or unwrap the data

[1, 2, 3, 4, '[sasi]', 'sasi']

In [86]:
l=[1,2,3,4]

In [88]:
l.append("[sasi]") # append wil not ravel the data

In [89]:
l

[1, 2, 3, 4, '[sasi]']

# For Loop

In [60]:
a="sasi"
for i in a:
    print(i,end='\t')

s	a	s	i

# For else--- Else will be executed only when for loop is completed

In [61]:
l=[1,2,3]
m=0
for i in l:
    print(i)
    m+=1
else:
    print(m,"items are iterated")

1
2
3
3 items are iterated

# Input

In [62]:
input()

sasi

'sasi'

In [63]:
type(input())

4534

str

In [64]:
type(int(input()))

4534

int

In [81]:
a=input()
print("My name is "+a)

sasi
My name is sasi

# Program for sum of numbers

In [79]:
n=10
x=[1,2,3,4,5,6,7,8,9,10]
sum=0
res=0
i=0
while i<10:
    sum+=i
    i+=1
print(sum,end="\t")
for val in x:
    res+=val
print(res)

45	55