# Strings

In [139]:
'Sasi'

'Sasi'

In [140]:
"Sasi's"

"Sasi's"

In [141]:
""""Sasi
Kumar
"""

'"Sasi\nKumar\n'

In [142]:
s="Sasi"
s[0].capitalize()

'S'

In [143]:
s=list("sasi")
s

['s', 'a', 's', 'i']

In [144]:
s="Sasi Kumar"
s.capitalize()

'Sasi kumar'

In [145]:
s.encode()

b'Sasi Kumar'

In [146]:
s.upper()

'SASI KUMAR'

In [147]:
s.lower()

'sasi kumar'

In [148]:
s.split() # by defaut of space and returns the list

['Sasi', 'Kumar']

In [149]:
s.split('s')

['Sa', 'i Kumar']

In [150]:
s="""sasi\n \n

Kumar"""
print(s)
s.split('\n')

sasi



Kumar

['sasi', ' ', '', '', 'Kumar']

In [151]:
"Inserting format string:{}".format("formatted string")

'Inserting format string:formatted string'

In [152]:
a='Sasi'
"Insert a here with curly brackets:{}".format(a)

'Insert a here with curly brackets:Sasi'

In [153]:
"Inserted {} here first time , The next argument takes here {}".format(a,a)# First argument takes the first curly brackets

'Inserted Sasi here first time , The next argument takes here Sasi'

# Counting & Location & upper(), Lower(), isalnum(),Isalpha()

In [154]:
s="sasi"# 0,1,2,3
s.count("s")

2

In [156]:
s.find("a")# First place gives the index of it

1

In [43]:
s.center(6,'z') # Only one character

'zsasiz'

In [44]:
s.center(5,'Z') # it will center our string

'Zsasi'

In [46]:
"sasi\tkumar".expandtabs() # \t will not appear and tab = 4 spaces will be created

'sasi    kumar'

In [47]:
s="sasi"
s.isalnum()

True

In [48]:
s.isalpha()

True

In [49]:
s="34"
s.isalpha()

False

In [63]:
a="sasi kumar"
a.islower()

True

In [64]:
a.isupper()

False

In [65]:
a.isspace()

False

In [67]:
a=" "
a.isspace()# data must be only spaces without any data

True

In [69]:
a="saSi"
a.istitle()# Expects first character to be Capital

False

In [71]:
a.endswith('i')

True

# Split() and Partition() Function

In [73]:
s="sasi Kumar"
s.split()

['sasi', 'Kumar']

In [75]:
s.partition(' ')

('sasi', ' ', 'Kumar')

# pop(),Clear()

In [126]:
l=[1,2,3,4,"sasi"]

In [127]:
l.pop(2)

3

In [128]:
l

[1, 2, 4, 'sasi']

In [129]:
l.pop()

'sasi'

# Remove()

In [132]:
# element wise deletion 
# Pop uses indexes
l.remove(1)

In [133]:
l

[2, 4]

In [134]:
l.append("sasi")

In [136]:
l.remove("sasi")

In [137]:
l

[2, 4]

In [82]:
l[::-1]

[4, 2, 1]

# Reverse()

In [83]:
l.reverse()

In [84]:
l

[4, 2, 1]

In [85]:
l.sort()

In [86]:
l

[1, 2, 4]

In [90]:
l=[2,4,1]

In [92]:
l.sort(reverse=True)

In [93]:
l

[4, 2, 1]

# Matrix

In [104]:
list1=[1,2,3]
list2=[4,5,6]
list3=[7,8,9]

matrix=[list1,list2,list3]

In [105]:
l=[]
for i in matrix:
    l.append(i[1])
print(l)

[2, 5, 8]

In [106]:
second_col=[row[1] for row in matrix]

In [107]:
second_col

[2, 5, 8]

In [108]:
second_col=[row[1]**2 for row in matrix]

In [109]:
second_col

[4, 25, 64]

In [111]:
[(i[0],i[1]) for i in matrix]

[(1, 2), (4, 5), (7, 8)]

# Count()

In [114]:
l=[1,2,3]

In [115]:
l.count(1)

1

# append()

In [116]:
l.append([1,2])

In [118]:
l

[1, 2, 3, [1, 2]]

# Extend()

In [138]:
# + operation on lists equql to extend operation --ravel the data --unwrap
l.extend('2')

In [120]:
l

[1, 2, 3, [1, 2], '2']

In [121]:
l.extend([12,4])

In [122]:
l

[1, 2, 3, [1, 2], '2', 12, 4]

# index()

In [123]:
l.index([1,2])

3