# Database -SqlLite

In [1]:
import sqlite3 # AQLite3 is a connector. It is inplace memory database. It just creates a file

In [5]:
c=sqlite3.connect("sasidb")

In [6]:
c.execute('drop table if exists sasi')

In [7]:
c.execute("create table student(id int,name text,roll int)")

OperationalError: table student already exists

In [8]:
c.execute("insert into student values(34,'sasi',34)")

In [9]:
c.execute("insert into student(id,name,roll) values(33,'sas',32)")

In [10]:
c.commit()

In [11]:
list(c.execute("select * from student"))

[(34, 'sasi', 34), (33, 'sas', 32), (34, 'sasi', 34), (33, 'sas', 32)]

In [12]:
for i in c.execute("select * from student"):
    print(i)

(34, 'sasi', 34)
(33, 'sas', 32)
(34, 'sasi', 34)
(33, 'sas', 32)

In [13]:
# Connecting with My SQL

In [15]:
!pip install mysql

Requirement already satisfied: mysql in c:\users\re20085166\appdata\local\continuum\anaconda3\lib\site-packages (0.0.2)
Requirement already satisfied: mysqlclient in c:\users\re20085166\appdata\local\continuum\anaconda3\lib\site-packages (from mysql) (2.0.1)

In [16]:
!python -m pip uninstall mysql --yes

Uninstalling mysql-0.0.2:
  Successfully uninstalled mysql-0.0.2

In [22]:
!sqlite3 --version # For enhanced shell, we use !

3.27.2 2019-02-25 16:06:06 bd49a8271d650fa89e446b42e513b595a717b9212c91dd384aab871fc1d0alt2

# Python Package Index (PyPI)--software repository for Python

In [24]:
!conda --version

conda 4.6.11